body{
    background-color: gainsboro;
    text-align: center;
}
.bx{
    box-shadow: 2px 2px 18px rgba(0,0,0,0.2);
}
.card-border{
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
    border: 0px;
}
footer.main-footer {
    margin-top: 28rem;
    padding-bottom: 25px;
    color: white;
    background-color: black;
}
footer.main-footer p{
    margin: 0px;
}
.container{
    width: 100%;  
    padding: 3% 5%;
}